<div class="card text-bg-success shadow mb-3" style="max-width: 12rem;">
    <div class="card-header">Total Vendas</div>
    <div class="card-body">
        <h5 class="card-title">R$ {{ totais_vendas|floatformat:2}}</h5>
    </div>
</div>

<div class="card text-bg-dark shadow mb-3" style="max-width: 12rem;">
    <div class="card-header">Total Compra</div>
    <div class="card-body">
        <h5 class="card-title">R$ {{ totais_compras|floatformat:2 }}</h5>
    </div>
</div>


<div class="card shadow mb-3" style="max-width: 12rem; background-color: #9c27b0; color: white; border-color: #9c27b0;">
    <div class="card-header">Total Pago</div>
    <div class="card-body">
        <h5 class="card-title">R$ {{ total_pago_compras|floatformat:2 }}</h5>
    </div>
</div>

<div class="card text-bg-danger shadow mb-3" style="max-width: 12rem;">
    <div class="card-header">Conta Vencidas</div>
    <div class="card-body">
        <h5 class="card-title text-center">R$ {{ total_compras_vencidas|floatformat:2 }}</h5>
    </div>
</div>

<div class="card text-bg-light shadow mb-3" style="max-width: 12rem;">
    <div class="card-header">Em Vencimento</div>
    <div class="card-body">
        <h5 class="card-title text-center">R$ {{ total_compras_dentro_do_prazo|floatformat:2 }}</h5>
    </div>
</div>

<div class="card text-bg-light shadow mb-3" style="max-width: 12rem;">
    <div class="card-header">Fundo de Caixa</div>
    <div class="card-body">
        <h5 class="card-title text-center">R$ {{ fundo_caixa|floatformat:2 }}</h5>
    </div>
</div>

<div class="card text-bg-light shadow mb-3" style="max-width: 12rem;">
    <div class="card-header">
        Lucro - <em>{{ taxa_lucro }}%</em>

    </div>
    <div class="card-body">
        <h5 class="card-title text-center">R$ {{ lucro_liquido|floatformat:2 }}</h5>
    </div>
</div>