<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Restaurante - {% block page_title %}{% endblock page_title %}</title>
  </head>

  <body>
  <style>
    .navbar.scrolled {
    background-color: #e7ebef !important; /* Cor de fundo ao rolar */
    transition: background-color 0.3s ease; /* Suavidade na transição */
    } 
  </style>

  <script>
    document.addEventListener("scroll", function() {
      const navbar = document.getElementById("navbar");
      if (window.scrollY > 50) {
        navbar.classList.add("scrolled");
      } else {
        navbar.classList.remove("scrolled");
      }
    });
    </script>

    <nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary position-sticky top-0" style="z-index: 1050;">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'menu' %}?tenant={{ tenant }}" style="color: green">SCV</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <!-- Inativando botão Fornecedor se o usuário não tiver permissão -->
              {% if perms.vendas.view_vendas %}
                <a class="nav-link" href="{% url 'venda_list' %}?tenant={{ tenant }}">Vendas</a>
              {% else %}
                <a class="nav-link disabled" href="#" aria-disabled="true">Vendas</a>
              {% endif %}

            <!-- Dropdown Compras -->
            <li class="nav-item dropdown">
              <!-- Inativando botão Fornecedor se o usuário não tiver permissão -->
              {% if perms.compras.view_compras %}
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Compras</a>
              {% else %}
                <a class="nav-link disabled" href="#" aria-disabled="true">Compras</a>
              {% endif %}

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'fornecedor_list' %}?tenant={{ tenant }}">Fornecedor</a></li>
                <li><a class="dropdown-item" href="{% url 'compras_list' %}?tenant={{ tenant }}">Compras</a></li>
              </ul>

            </li>
            <!-- Dropdown Funcionários -->
            <li class="nav-item dropdown">
              <!-- Inativando botão Fornecedor se o usuário não tiver permissão -->
              {% if perms.funcionarios.view_pagamento %}
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Funcionários</a>
              {% else %}
                <a class="nav-link disabled" href="#" aria-disabled="true">Funcionários</a>
              {% endif %}

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'funcionarios_list' %}?tenant={{ tenant }}">Cadastro</a></li>
                <li><a class="dropdown-item" href="{% url 'contratacao_list' %}?tenant={{ tenant }}">Contratação</a></li>
                <li><a class="dropdown-item" href="{% url 'rescisao_list' %}?tenant={{ tenant }}">Rescisão</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'pagamento_list' %}?tenant={{ tenant }}">Pagamento</a></li>
              </ul>
            </li>
            <!-- Dropdown Financeiro -->
            <li class="nav-item dropdown">
              <!-- Inativando botão Financeiro se o usuário não tiver permissão -->
              {% if perms.financeiro.view_financeiro %}
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Financeiro</a>
              {% else %}
                <a class="nav-link disabled" href="#" aria-disabled="true">Financeiro</a>
              {% endif %}

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'dashboard_vendas' %}?tenant={{ tenant }}">Vendas</a></li>
                <li><a class="dropdown-item" href="{% url 'dashboard_compras' %}?tenant={{ tenant }}">Compras</a></li>
                <li><a class="dropdown-item" href="{% url 'dashboard_funcionarios' %}?tenant={{ tenant }}">Funcionários</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'dashboard_resumo' %}?tenant={{ tenant }}">Visão Geral</a></li>
              </ul>
            </li>
          </ul>
          <!-- Verifica se o usuário está autenticado -->
          <div class="d-flex ms-auto">
            <!-- Botão de tela cheia -->
            <button id="fullscreen-btn" class="btn btn me-2" type="button" title="Tela Cheia" style="box-shadow:none;">
              <span id="fullscreen-icon" class="bi bi-arrows-fullscreen"></span>
            </button>


            {% if user.is_authenticated %}
              <span class="navbar-text text-dark me-3">
                Bem-vindo, {{ user.first_name }}!
              </span>
              <a href="{% url 'password_change' %}?tenant={{ tenant }}" class="btn btn-outline-secondary me-2">Alterar Senha</a>
              <a href="{% url 'logout' %}?tenant={{ tenant }}" class="btn btn-danger">Sair</a>
            {% else %}
              <a href="{% url 'login' %}?tenant={{ tenant }}" class="btn btn-outline-light">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <main class="container-fluid px-4">
        {% block content %}{% endblock content %}
    </main>

      <footer class="bg-body-tertiary text-dark py-3 mt-5">
        <div class="container text-center">
            <p>&copy; 2024 Restaurante. Todos os direitos reservados.</p>
            <p>
                <a href="https://www.instagram.com/sushicasaverde/" 
                    class="text-dark me-3"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Instagram</a>
                <a href="#" class="text-dark me-3">Política de Privacidade</a>
                <a href="#" class="text-dark">Termos de Uso</a>
            </p>
        </div>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>

<!-- Script para o botão de tela cheia -->
    <script>
      const btn = document.getElementById('fullscreen-btn');
      const icon = document.getElementById('fullscreen-icon');
      btn.addEventListener('click', function() {
        if (!document.fullscreenElement) {
          document.documentElement.requestFullscreen();
          btn.innerHTML = '<span id="fullscreen-icon" class="bi bi-fullscreen-exit"></span>';
        } else {
          document.exitFullscreen();
          btn.innerHTML = '<span id="fullscreen-icon" class="bi bi-arrows-fullscreen"></span>';
        }
      });
    </script>

<!-- Opcional: Bootstrap Icons CDN para ícones bonitos -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  </body>
</html>
