{% extends 'global/base.html' %}

{% load static %}

{% block page_title %}
    Menu
{% endblock page_title %}

{% block content %}
    <!-- Conteúdo da página -->
    <h1>Bem-vindo ao Menu</h1>
    <p>Aqui você pode acessar diferentes opções do sistema.</p>

{% include 'menu/carrossel.html' %}

    <!-- Painel de navegação -->
    <div class="card text-center mt-4">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
          <!-- Geração das abas dinamicamente -->
          {% for category in categories %}
            <li class="nav-item">
              <a class="nav-link {% if forloop.first %}active{% endif %}" 
              id="{{ category.name|slugify }}-tab" 
              data-bs-toggle="tab" 
              href="#{{ category.name|slugify }}" 
              role="tab" aria-controls="{{ category.name|slugify }}" 
              aria-selected="{% if forloop.first %} true {% else %} false {% endif %}">
                {{ category.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content" id="myTabContent">
          <!-- Geração do conteúdo das abas dinamicamente -->
          {% for category in categories %}
            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" 
                  id="{{ category.name|slugify }}" 
                  role="tabpanel" 
                  aria-labelledby="{{ category.name|slugify }}-tab">
              <h5 class="card-title">{{ category.name }}</h5>
    
              <!-- Exibe os itens da categoria -->
              <div class="row row-cols-1 row-cols-md-3 g-2">
                {% for item in images %}
                  {% if item.category == category %}
                    <div class="col">
                      <div class="card h-100" style="width: 15rem;">
                        <img src="{{ item.cover.url }}" class="card-img-top img-fluid" alt="{{ item.title }}">
                        <div class="card-body">
                          <h5 class="card-title">{{ item.title }}</h5>
                          <p class="card-text">{{ item.description }}</p>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% empty %}
                  <p>Nenhum item encontrado.</p>
                {% endfor %}
              </div>

              <p class="card-text mt-2">
                <strong>Descrição: </strong> {{ category.description }}
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
{% endblock content %}
