{% extends 'global/base.html' %}

{% block page_title %}
    Compras
{% endblock page_title %}

{% block content %}
    <h5 class="mb-4 mt-3">Compras</h5>

    <div class="container">
        <form action="" method="GET" class="d-flex align-items-center">

            <div class="mb-2 me-2">
                <small for="data_inicio" class="form-text">Data Início:</small>
                <input type="date" class="form-control" id="data_inicio" name="data_inicio" value="{{ request.GET.data_inicio }}">
            </div>

            <div class="mb-2 ms-2 me-2">
                <small for="data_fim" class="form-text">Data Fim:</small>
                <input type="date" class="form-control" id="data_fim" name="data_fim" value="{{ request.GET.data_fim }}">
            </div>

            <div class="form-floating ms-2 me-2 mt-1">
                <select class="form-select" id="floatingSelect" name="fornecedor[]" aria-label="Floating label select example">
                    <option value="">Selecione fornecedor</option>
                    {% for fornecedor in fornecedores %}
                        <option value="{{ fornecedor.id }}" 
                            {% if fornecedor.id|stringformat:"s" in request.GET.fornecedor %}selected{% endif %}>
                            {{ fornecedor.nome_empresa }}
                        </option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Fornecedor</label>
            </div>

            <div class="form-floating me-2 ms-2 mt-1">
                <select class="form-select" id="floatingSelect" name="numero_boleto[]" aria-label="Floating label select example">
                    <option value="">Selecione boleto</option>
                    {% for boleto in numero_boleto %}
                        <option value="{{ boleto }}" 
                            {% if boleto in request.GET.boleto %}selected{% endif %}>
                            {{ boleto }}
                        </option>
                    {% endfor %}
                </select>
                    <label for="floatingSelect">Boleto</label>
            </div>

            <div class="mb-1 ms-1 mt-2">
                <button type="submit" class="btn btn-outline-primary me-2" name="buscar_compras">Buscar</button>
                <a href="{% url 'compras_list' %}" class="btn btn-outline-secondary me-2">Limpar</a>
                <a href="{% url 'create_compras' %}" class="btn btn-outline-success me-2">Nova Compra</a>
            </div>

        </form>
    </div>

    {% if compras_list %}
        <table class="table table-sm table-striped table-hover mt-3">
            <thead class="table-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Data Compra</th>
                    <th scope="col">Vencimento</th>
                    <th scope="col">Pagamento</th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Valor Compra</th>
                    <th scope="col">Valor Pago</th>
                    <th scope="col">N° Boleto</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Classificação</th>
                    <th scope="col">Forma Pagamento</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for compras in compras_list %}
                    <tr>
                        <th scope="row" >{{ compras.pk }}</th>
                        <td>{{ compras.data_compra| date:"d/m/y"}}</td>
                        <td>{{ compras.data_vencimento| date:"d/m/y"}}</td>
                        <td>{{ compras.data_pagamento| date:"d/m/y"}}</td>
                        <td>{{ compras.fornecedor }}</td>
                        <td>{{ compras.valor_compra| floatformat:2| default:"-" }}</td>
                        <td>{{ compras.valor_pago| floatformat:2| default:"-" }}</td>
                        <td>{{ compras.numero_boleto| default:"-" }}</td>
                        <td>{{ compras.grupo_produto| default:"-" }}</td>
                        <td>{{ compras.produto| default:"-" }}</td>
                        <td>{{ compras.classificacao| default:"-" }}</td>
                        <td>{{ compras.forma_pagamento| default:"-" }}</td>
                        <td>
                            <a href="{% url 'update_compras' pk=compras.pk %}" class="btn btn-outline-secondary btn-sm" >Editar</a>
                            <a href="{% url 'delete_compras' pk=compras.pk %}" class="btn btn-danger btn-sm" >Excluir</a>
                        </td>
                    </tr>
                    <tr class="detail-row" style="display: none;">
                        <td colspan="12">
                            <div class="detail-content">
                                <ul>
                                    <li><strong>Quantidade:</strong> {{ compras.qtd|default:"-" }}</li>
                                    <li><strong>Observação:</strong> {{ compras.observacao|default:"-" }}</li>
                                    <li><strong>Autor:</strong> {{ compras.author.username|default:"-" }}</li>
                                    <li><strong>Atualizado em:</strong> {{ compras.dt_atualizado|date:"d/m/y H:i" }}</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <style>
            .detail-row {
                background-color: #f9f9f9;
            }
            .detail-content {
                padding: 10px;
                margin-left: 20px;
            }
            .detail-content ul {
                list-style-type: none;
                padding-left: 0;
            }
            .detail-content ul li {
                margin-bottom: 5px;
            }
        </style>
        
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const rows = document.querySelectorAll("tbody tr:not(.detail-row)");
        
                rows.forEach(row => {
                    row.addEventListener("click", function() {
                        const detailRow = this.nextElementSibling;
                        if (detailRow && detailRow.classList.contains("detail-row")) {
                            detailRow.style.display = detailRow.style.display === "none" ? "table-row" : "none";
                        }
                    });
                });
            });
        </script>

    {% else %}
        <div class="container">
            <div class="alert alert-warning mt-3" role="alert">
                Não há compras para o filtro selecionado.
            </div>
        </div>
    {% endif %}
{% endblock content %}