{% extends 'global/base.html' %}

{% block page_title %}
    Excluir
{% endblock page_title %}

{% block content %}
    <h3>Excluir Compra</h3>

    <p>
        Tem certeza que deseja excluir a compra do dia 
        <strong>{{ compras.data_compra }}</strong> 
        do fornecedor 
        <strong>{{ compras.fornecedor }}</strong> 
        no valor de 
        <strong>{{ compras.valor_compra }}</strong>
        ?
    </p>

    <form method="POST">
        {% csrf_token %}

        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="{% url 'compras_list' %}?tenant={{ tenant }}" class="btn btn-primary">Cancelar</a>
    </form>
{% endblock content %}