{% extends 'global/base.html' %}

{% block page_title %}
    Fornecedores
{% endblock page_title %}

{% block content %}
<h2>Fornecedores</h2>
<div class="container ms-1">
    <form action="" method="GET" class="d-flex align-items-center">

        <div class="form-floating ms-2">
            <select class="form-select" id="floatingSelect" name="nome_empresa[]" aria-label="Floating label select example">
                <option value="">Selecione um fornecedor</option>
                {% for fornecedor in fornecedores %}
                    <option value="{{ fornecedor.nome_empresa }}" {% if fornecedor.nome_empresa in request.GET.nome_empresa %}selected{% endif %}>
                        {{ fornecedor.nome_empresa }}
                    </option>
                {% endfor %}
            </select>
            <label for="floatingSelect">Fornecedor</label>
        </div>

        <div class="mb-2 ms-2 mt-4">
            <button type="submit" class="btn btn-primary" name="buscar_fornecedores">Buscar</button>
            <a href="{% url 'fornecedor_list' %}" class="btn btn-secondary">Limpar</a>
        </div>

    </form>
</div>


    {% if fornecedor_list %}
        <table class="table table-sm">
            <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Empresa</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Nome Contato</th>
                <th scope="col">Telefone</th>
                <th scope="col">E-mail</th>
                <th scope="col">Endereço</th>
                <th scope="col">CEP</th>
                <th scope="col">Número</th>
                <th scope="col">Bairro</th>
                <th scope="col">Cidade</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
                {% for fornecedor in fornecedor_list %}
                    <tr>
                        <th scope="row" >{{ fornecedor.pk }}</th>
                        <td>{{ fornecedor.nome_empresa }}</td>
                        <td>{{ fornecedor.cnpj| default:"-" }}</td>
                        <td>{{ fornecedor.nome_contato| default:"-" }}</td>
                        <td>{{ fornecedor.telefone| default:"-" }}</td>
                        <td>{{ fornecedor.email| default:"-" }}</td>
                        <td>{{ fornecedor.endereco| default:"-" }}</td>
                        <td>{{ fornecedor.cep| default:"-" }}</td>
                        <td>{{ fornecedor.numero| default:"-" }}</td>
                        <td>{{ fornecedor.bairro| default:"-" }}</td>
                        <td>{{ fornecedor.cidade| default:"-" }}</td>
                        <td>
                            <a href="{% url 'update_fornecedor' pk=fornecedor.pk %}" class="btn btn-secondary btn-sm" >Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não há registros</p>
    {% endif %}
{% endblock content %}