{% extends 'global/base.html' %}

{% block page_title %}
    Funcionário
{% endblock page_title %}

{% block content %}
    <h5 class="mb-4 mt-3">Contratação de Funcionário</h5>

    <div class="container-fluid">
        <form id="filtro-form" action="" method="GET" class="d-flex align-items-center">
            <!-- <input type="hidden" name="tenant" value="{{ tenant }}"> -->
            <input type="hidden" name="tenant" value="{{ tenant }}">
            <div class="mb-2">
                <small for="data_inicio" class="form-text">Contratação Início:</small>
                <input type="date" class="form-control" id="data_inicio_contratacao" name="data_inicio_contratacao" value="{{ request.GET.data_contratacao }}">
            </div>
            <div class="mb-2 ms-2 me-2">
                <small for="data_fim" class="form-text">Contratação Fim:</small>
                <input type="date" class="form-control" id="data_fim_contratacao" name="data_fim_contratacao" value="{{ request.GET.data_contratacao }}">
            </div>
            <div class="form-floating mb-2 ms-2 me-2 mt-2">
                <select class="form-select" id="floatingSelect" name="nome_funcionario" aria-label="Floating label select example">
                    <option value="">Selecione funcionário</option>
                    {% for funcionario in contratacao_funcionarios %}
                        <option value="{{ funcionario.id }}" 
                            {% if funcionario.id|stringformat:"s" == request.GET.nome_funcionario %} selected {% endif %}>
                            {{ funcionario.nome_funcionario }}
                        </option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Funcionáro</label>
            </div>
            <div class="form-floating mb-1 ms-2 me-2 mt-2">
                <select class="form-select" id="floatingSelect" name="setor" aria-label="Floating label select example">
                    <option value="">Selecione setor</option>
                    {% for setor in contratacao_setor %}
                        <option value="{{ setor }}" 
                            {% if setor|stringformat:"s" == request.GET.setor %} selected {% endif %}>
                            {{ setor }}
                        </option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Setor</label>
            </div>
            <div class="form-floating mb-1 ms-2 me-2 mt-2">
                <select class="form-select" id="floatingSelect" name="cargo" aria-label="Floating label select example">
                    <option value="">Selecione cargo</option>
                    {% for cargo in contratacao_cargo %}
                        <option value="{{ cargo }}"
                            {% if cargo|stringformat:"s" == request.GET.cargo %} selected {% endif %}>
                            {{ cargo }}
                        </option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Cargo</label>
            </div>
            <div class="mb-1 ms-2 mt-2">
                <button type="submit" class="btn btn-outline-primary me-2" name="buscar_funcionario_cadastro">Buscar</button>
                <a href="{% url 'contratacao_list' %}?tenant={{ tenant }}" class="btn btn-outline-secondary me-2">Limpar</a>
                
                {% if perms.funcionarios.add_contratacao %}
                    <a href="{% url 'create_contratacao' %}?tenant={{ tenant }}" class="btn btn-outline-success me-2">Contratar</a>
                {% else %}
                    <a class="btn btn-outline-success disabled" href="#" aria-disabled="true">Contratar</a>
                {% endif %}
            </div>
            <!-- switch para filtrar contratos ativos -->
            <div class="form-check form-switch mb-2 me-2 ms-2 mt-3">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="filtrar_status_contrato" {% if filtrar_status_contrato %}checked{% endif %} onchange="document.getElementById('filtro-form').submit();">
                <label class="form-check-label" for="flexSwitchCheckDefault">Contratos ativos</label>
            </div>
        </form>
    </div>

    {% if contratacao_list %}
        <table class="table table-sm table-striped table-hover mt-3">
            <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Setor</th>
                <th scope="col">Cargo</th>
                <th scope="col">Exame</th>
                <th scope="col">Contratação</th>
                <th scope="col">Salário</th>
                <th scope="col">Doc Contabilidade</th>
                <th scope="col">Observação</th>
                <th scope="col">Contrato</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
                {% for contratacao in contratacao_list %}
                    <tr>
                        <th scope="row" >{{ contratacao.pk }}</th>
                        <td>{{ contratacao.nome_funcionario }}</td>
                        <td>{{ contratacao.setor| default:"-" }}</td>
                        <td>{{ contratacao.cargo| default:"-" }}</td>
                        <td>{{ contratacao.data_exame_admissional|date:"d/m/y"}}</td>
                        <td>{{ contratacao.data_contratacao|date:"d/m/y" }}</td>
                        <td>{{ contratacao.salario| default:"-" }}</td>
                        <td>{{ contratacao.contabilidade_admissional| default:"-" }}</td>
                        <td>{{ contratacao.observacao_admissional| default:"-" }}</td>
                        <td>
                            {% if contratacao.status_rescisao == False %}
                                <span class="badge bg-success">Ativo</span>
                            {% else %}
                                <span class="badge bg-danger">Rescindido</span>
                            {% endif %}
                        </td>
                        <td>
                            <span 
                                class="btn btn-sm 
                                {% if contratacao.contabilidade_admissional != "Enviado" or contratacao.data_exame_admissional == None %}
                                    btn-danger
                                {% else %}
                                    btn-success
                                {% endif %}"
                                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                        </td>
                        <td>
                            {% if perms.funcionarios.change_contratacao %}
                                <a href="{% url 'update_contratacao' pk=contratacao.pk %}?tenant={{ tenant }}" class="btn btn-outline-secondary btn-sm">Editar</a>
                            {% else %}
                                <a class="btn btn-outline-secondary disabled"  href="#" aria-disabled="true">Editar</a>
                            {% endif %}
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <!-- Paginação -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                {% if contratacao_funcionarios_paginados.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ contratacao_funcionarios_paginados.previous_page_number }}">Anterior</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Anterior</a>
                </li>
                {% endif %}

                {% for num in contratacao_funcionarios_paginados.paginator.page_range %}
                {% if contratacao_funcionarios_paginados.number == num %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ num }}</span>
                </li>
                {% elif num > contratacao_funcionarios_paginados.number|add:-2 and num < contratacao_funcionarios_paginados.number|add:2 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if contratacao_funcionarios_paginados.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ contratacao_funcionarios_paginados.next_page_number }}">Próxima</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Próxima</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    {% else %}
        <div class="container">
            <div class="alert alert-warning mt-3" role="alert">
                Não há registros para esse filtro.
            </div>
        </div>
    {% endif %}

{% endblock content %}