{% extends 'global/base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
{% if pagamento.pk %}
    Editar Pagamento de Funcionário
    {% else %}
    Pagamento Funcionário
    {% endif %}
{% endblock page_title %}

{% block content %}
  <!-- se eu tenho um id selecionado é porque estou realizando uma edição -->
  {% if pagamento.pk %}
    <h2>Editar Contração ID {{pagamento.pk}} - {{ pagamento.nome_funcionario}}</h2>
  {% else %}
    <h2>Pagamento de Funcionário</h2>
  {% endif %}
    <form method="POST">
      <!-- para evitar o seguinte erro -> CSRF verification failed. Request aborted. -->
        {% csrf_token %}
      <!-- form faz aparecer o formulario já do Django -->
        {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Salvar</button>
      <a href="{% url 'pagamento_list' %}?tenant={{ tenant }}" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock content %}