{% load cache %}
<div class="container-fluid">
    <form action="" method="GET" class="d-flex align-items-center">
        {% cache 600 widget_rescisao %}
        <input type="hidden" name="tenant" value="{{ tenant }}">
        
        <div class="mb-2 me-2">
            <small for="data_inicio" class="form-text">Desligamento Início:</small>
            <input type="date" class="form-control" id="data_inicio_rescisao" name="data_inicio_rescisao" value="{{ request.GET.data_desligamento }}">
        </div>
        <div class="mb-2 ms-2 me-2">
            <small for="data_fim" class="form-text">Desligamento Fim:</small>
            <input type="date" class="form-control" id="data_fim_rescisao" name="data_fim_rescisao" value="{{ request.GET.data_desligamento }}">
        </div>
        <div class="form-floating mb-2 ms-2 me-2 mt-2">
            <select class="form-select" id="floatingSelect" name="nome_funcionario" aria-label="Floating label select example">
                <option value="">Selecione funcionário</option>
                {% for funcionario in rescisao_funcionarios %}
                    <option value="{{ funcionario.id }}"
                        {% if funcionario.id|stringformat:"s" == request.GET.nome_funcionario %} selected {% endif %}>
                        {{ funcionario.nome_funcionario }}
                    </option>
                {% endfor %}
            </select>
            <label for="floatingSelect">Funcionáro</label>
        </div>
        <div class="form-floating mb-2 ms-2 me-2 mt-2">
            <select class="form-select" id="floatingSelect" name="tipo_desligamento" aria-label="Floating label select example">
                <option value="">Selecione Tipo Desligamento</option>
                {% for desligamento in tipo_desligamento %}
                    <option value="{{ desligamento }}"
                        {% if desligamento|stringformat:"s" == request.GET.desligamento %} selected {% endif %}>
                        {{ desligamento }}
                    </option>
                {% endfor %}
            </select>
            <label for="floatingSelect">Desligamento</label>
        </div>
        {% endcache %}
        <div class="mb-3 ms-2 mt-3">
            <button type="submit" class="btn btn-outline-primary me-2" name="buscar_funcionario_cadastro">Buscar</button>
            <a href="{% url 'rescisao_list' %}?tenant={{ tenant }}" class="btn btn-outline-secondary me-2">Limpar</a>
            {% if perms.funcionarios.add_rescisao %}
                <a href="{% url 'create_rescisao' %}?tenant={{ tenant }}" class="btn btn-outline-success me-2">Rescisão Funcionário</a>
            {% else %}
                <a class="btn btn-outline-success disabled me-2" href="#" aria-disabled="true">Rescisão Funcionário</a>
            {% endif %}
        </div>
    </form>
</div>
{% if rescisao_list %}
    <table class="table table-sm table-striped table-hover mt-3"> <!-- table-bordered -->
        <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Desligamento</th>
                <th scope="col">Devolução Uniforme</th>
                <th scope="col">Exame Demissional</th>
                <th scope="col">Homologação</th>
                <th scope="col">Tipo Desligamento</th>
                <th scope="col">Doc Contabilidade</th>
                <th scope="col">Observação</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
            <tbody>
                {% for rescisao in rescisao_list %}
                    <tr>
                        <th scope="row" >{{ rescisao.pk }}</th>
                        <td>{{ rescisao.nome_funcionario }}</td>
                        <td>{{ rescisao.data_desligamento| date:"d/m/y"| default:"-" }}</td>
                        <td>{{ rescisao.devolucao_uniforme| default:"-" }}</td>
                        <td>{{ rescisao.data_exame_demissional| date:"d/m/y"|default:"-" }}</td>
                        <td>{{ rescisao.data_homologacao| date:"d/m/y"|default:"-" }}</td>
                        <td>{{ rescisao.tipo_desligamento| default:"-" }}</td>
                        <td>{{ rescisao.contabilidade_rescisao| default:"-" }}</td>
                        <td>{{ rescisao.observacao_demissional| default:"-" }}</td>
                        <!-- Coluna Status com formato condicional -->
                        <td>
                            <span 
                            class="btn btn-sm 
                            {% if rescisao.status_rescisao %}
                                btn-success
                            {% else %}
                                btn-danger
                            {% endif %}
                            ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </td>
                        <td>
                            {% if perms.funcionarios.change_rescisao %}
                                <a href="{% url 'update_rescisao' pk=rescisao.pk %}?tenant={{ tenant }}" class="btn btn-outline-secondary btn-sm">Editar</a>
                            {% else %}
                                <a class="btn btn-outline-secondary disabled btn-sm" href="#" aria-disabled="true">Editar</a>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
    <!-- Paginação -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if rescisao_funcionarios_paginados.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?tenant={{ tenant }}&page={{ rescisao_funcionarios_paginados.previous_page_number }}">Anterior</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Anterior</a>
                </li>
            {% endif %}

            {% for num in rescisao_funcionarios_paginados.paginator.page_range %}
                {% if rescisao_funcionarios_paginados.number == num %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ num }}</span>
                    </li>
                {% elif num > rescisao_funcionarios_paginados.number|add:-2 and num < rescisao_funcionarios_paginados.number|add:2 %}
                    <li class="page-item">
                        <a class="page-link" href="?tenant={{ tenant }}&page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if rescisao_funcionarios_paginados.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?tenant={{ tenant }}&page={{ rescisao_funcionarios_paginados.next_page_number }}">Próxima</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Próxima</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% else %}
    <div class="container">
        <div class="alert alert-warning mt-3" role="alert">
            Não há rescição para o período selecionado.
        </div>
    </div>
{% endif %}