{% extends 'global/base.html' %}

{% block page_title %}
    Dashboard Funcionários
{% endblock page_title %}

{% block content %}
    <h5 class="mb-4 mt-3" style="color: green;">Dashboard Funcionários</h5>
    <!-- Filtros -->
    <div class="container">
        <form action="" method="GET" class="d-flex align-items-center">

            <div class="mb-2 me-2">
                <small for="data_inicio" class="form-text">Data Início:</small>
                <input type="date" class="form-control" id="data_inicio" name="data_inicio" value="{{ data_inicio }}">
            </div>
            
            <div class="mb-2 ms-2 me-2">
                <small for="data_fim" class="form-text">Data Fim:</small>
                <input type="date" class="form-control" id="data_fim" name="data_fim" value="{{ data_fim }}">
            </div>

            <div class="form-floating mb-2 ms-2 me-2 mt-2">
                <select class="form-select" id="floatingSelect" name="nome_funcionario">
                    <option value="">Selecione funcionário</option>
                    {% for funcionario in nome_funcionarios %}
                        <option value="{{ funcionario.nome_funcionario__id }}" 
                            {% if funcionario.funcionario__id|stringformat:"s" in funcionario_selecionados %} selected {% endif %}>
                            {{ funcionario.nome_funcionario__nome_funcionario }}
                        </option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Funcionário</label>
            </div>
            
            <div class="form-floating mb-2 ms-2 me-2 mt-2">
                <select class="form-select" id="floatingSelect" name="tipo_pagamento" aria-label="Floating label select example">
                    <option value="">Selecione pagamento</option>
                    {% for tipo in tipos_pagamento %}
                        <option value="{{ tipo.tipo_pagamento }}" 
                            {% if tipo.tipo_pagamento in tipo_pagamento_selecionado %} selected {% endif %}>
                            {{ tipo.tipo_pagamento }}
                        </option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Tipo Pagamento</label>
            </div>

            <div class="form-floating mb-2 ms-2 me-2 mt-2">
                <select class="form-select" id="floatingSelect" name="forma_pagamento" aria-label="Floating label select example">
                    <option value="">Selecione forma pagamento</option>
                    {% for tipo in formas_pagamento %}
                        <option value="{{ tipo.forma_pagamento }}" 
                            {% if tipo.forma_pagamento in forma_pagamento_selecionado %} selected {% endif %}>
                            {{ tipo.forma_pagamento }}
                        </option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Forma Pagamento</label>
            </div>

            <div class="mb-2 ms-2 mt-3">
                <button type="submit" class="btn btn-outline-primary me-2" name="buscar_funcionario_pagamento">Buscar</button>
                <a href="{% url 'dashboard_funcionarios' %}?tenant={{ tenant }}" class="btn btn-outline-secondary me-2">Limpar</a>
            </div>

        </form>
    </div>

    <!-- Tabelas -->
    <div class="container-fluid mt-3">
        <div class="row">
            {% if funcionarios %}
                <!-- Primeira Coluna -->
                <div class="col-md-3 me-4">
                        <!-- Tabela Tipo Pagamento -->
                        {% include 'financeiro/table/tabela_tipo_pagamento.html' %}

                        <!-- Linha divisória -->
                        <hr class="my-3" style="border-color: rgb(6, 160, 96); border-width: 3px;">
                        <!-- Tabela Forma Pagamento -->
                        {% include 'financeiro/table/tabela_forma_pagamento.html' %}

                        <hr class="my-3" style="border-color: rgb(6, 160, 96); border-width: 3px;">
                        <!-- Tabela por cargo -->
                        {% include 'financeiro/table/tabela_cargo.html' %}

                        <hr class="my-3" style="border-color: rgb(6, 160, 96); border-width: 3px;">
                        <!-- Tabela por setor -->
                        {% include 'financeiro/table/tabela_setor.html' %}
                </div>
        
                <!-- Segunda Coluna -->
                <div class="col-md-8">
                    {% include 'financeiro/table/tabela_pagamento_fucionario.html' %}
                </div>

                <style>
                    .detail-row {
                        background-color: #f9f9f9;
                    }
                    .detail-content {
                        padding: 10px;
                        margin-left: 20px;
                    }
                    .detail-content ul {
                        list-style-type: none;
                        padding-left: 0;
                    }
                    .detail-content ul li {
                        margin-bottom: 5px;
                    }
                </style>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        const rows = document.querySelectorAll("tbody tr:not(.detail-row)");
                
                        rows.forEach(row => {
                            row.addEventListener("click", function() {
                                const detailRow = this.nextElementSibling;
                                if (detailRow && detailRow.classList.contains("detail-row")) {
                                    detailRow.style.display = detailRow.style.display === "none" ? "table-row" : "none";
                                }
                            });
                        });
                    });
                </script>
            {% else %}
                <div class="container">
                    <div class="alert alert-warning mt-3" role="alert">
                        Não há lançamentos para o filtro selecionado.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}