{% extends 'global/base.html' %}

{% block page_title %}
    Dashboard Funcionários
{% endblock page_title %}

{% block content %}
    <h5 class="mb-4 mt-3" style="color: green;">Dashboard Funcionários</h5>

    <div class="container">
        <form action="" method="GET" class="d-flex align-items-center">

            <div class="mb-2 me-2">
                <small for="data_inicio" class="form-text">Data Início:</small>
                <input type="date" class="form-control" id="data_inicio" name="data_inicio" value="{{ data_inicio }}">
            </div>
            
            <div class="mb-2 ms-2 me-2">
                <small for="data_fim" class="form-text">Data Fim:</small>
                <input type="date" class="form-control" id="data_fim" name="data_fim" value="{{ data_fim }}">
            </div>

            <div class="form-floating mb-2 ms-2 me-2 mt-2">
                <select class="form-select" id="floatingSelect" name="nome_funcionario">
                    <option value="">Selecione funcionário</option>
                    {% for funcionario in nome_funcionarios %}
                        <option value="{{ funcionario.nome_funcionario__id }}" 
                            {% if funcionario.funcionario__id|stringformat:"s" in funcionario_selecionados %} selected {% endif %}>
                            {{ funcionario.nome_funcionario__nome_funcionario }}
                        </option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Funcionário</label>
            </div>
            
            <div class="form-floating mb-2 ms-2 me-2 mt-2">
                <select class="form-select" id="floatingSelect" name="tipo_pagamento" aria-label="Floating label select example">
                    <option value="">Selecione pagamento</option>
                    {% for tipo in tipos_pagamento %}
                        <option value="{{ tipo.tipo_pagamento }}" 
                            {% if tipo.tipo_pagamento in tipo_pagamento_selecionado %} selected {% endif %}>
                            {{ tipo.tipo_pagamento }}
                        </option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Tipo Pagamento</label>
            </div>

            <div class="form-floating mb-2 ms-2 me-2 mt-2">
                <select class="form-select" id="floatingSelect" name="forma_pagamento" aria-label="Floating label select example">
                    <option value="">Selecione forma pagamento</option>
                    {% for tipo in formas_pagamento %}
                        <option value="{{ tipo.forma_pagamento }}" 
                            {% if tipo.forma_pagamento in forma_pagamento_selecionado %} selected {% endif %}>
                            {{ tipo.forma_pagamento }}
                        </option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Forma Pagamento</label>
            </div>

            <div class="mb-2 ms-2 mt-3">
                <button type="submit" class="btn btn-outline-primary me-2" name="buscar_funcionario_pagamento">Buscar</button>
                <a href="{% url 'dashboard_funcionarios' %}" class="btn btn-outline-secondary me-2">Limpar</a>
            </div>

        </form>
    </div>

    <div class="container-fluid mt-3">
        <div class="row">
            <!-- Primeira Coluna -->
            <div class="col-md-3 me-4">
                {% if funcionarios %}
                    <!-- Tabela Tipo Pagamento -->
                    <table class="table table-sm mt-3">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Tipo Pagamento</th>
                                <th scope="col">Valor Pago</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pagamento in tipo_pagamentos_agrupados %}
                                <tr>
                                    <td>{{ pagamento.tipo_pagamento|default:"-" }}</td>
                                    <td>R$ {{ pagamento.total_valor_pago|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
    
                    <!-- Tabela Forma Pagamento -->
                    <table class="table table-sm mt-3">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Forma Pagamento</th>
                                <th scope="col">Valor Pago</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pagamento in forma_pagamentos_agrupados %}
                                <tr>
                                    <td>{{ pagamento.forma_pagamento|default:"-" }}</td>
                                    <td>R$ {{ pagamento.total_valor_pago|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="container">
                        <div class="alert alert-warning mt-3" role="alert">
                            Não há lançamentos para o filtro selecionado.
                        </div>
                    </div>
                {% endif %}
            </div>
    
            <!-- Segunda Coluna -->
            <div class="col-md-8">
                {% if funcionarios %}
                
                    <table class="table table-sm table-striped table-hover mt-4"> <!-- table-bordered -->
                        <thead class="table-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Data Pagamento</th>
                                <th scope="col">Valor Pago</th>
                                <th scope="col">Tipo Pagamento</th>
                                <th scope="col">Forma Pagamento</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for funcionario in funcionarios %}
                                <tr>
                                    <th scope="row">{{ funcionario.pk }}</th>
                                    <td>{{ funcionario.nome_funcionario }}</td>
                                    <td>{{ funcionario.data_pagamento|date:"d/m/y"|default:"-" }}</td>
                                    <td>{{ funcionario.valor_pago|default:"-" }}</td>
                                    <td>{{ funcionario.tipo_pagamento|default:"-" }}</td>
                                    <td>{{ funcionario.forma_pagamento|default:"-" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-end fw-bold">Total:</td>
                                <td class="bg-dark text-white fw-bold">R$ {{ total_pagamentos|floatformat:2 }}</td>
                            </tr>
                        </tfoot>
                    </table>
                {% else %}
                    <div class="container">
                        <div class="alert alert-warning mt-3" role="alert">
                            Não há lançamentos para o filtro selecionado.
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}