{% extends 'global/base.html' %}

{% block page_title %}
    Dashboard Visão Geral
{% endblock page_title %}

{% block content %}
    <h5 class="mb-4 mt-3" style="color: green;">Dashboard Visão Geral</h5>

    <!-- Filtro -->
    <div class="container">
        <form action="" method="GET" class="d-flex align-items-center">

            <div class="mb-2 me-2">
                <small for="data_inicio" class="form-text">Data Início:</small>
                <input type="date" class="form-control" id="data_inicio" name="data_inicio" value="{{ data_inicio }}">
            </div>
            
            <div class="mb-2 ms-2 me-2">
                <small for="data_fim" class="form-text">Data Fim:</small>
                <input type="date" class="form-control" id="data_fim" name="data_fim" value="{{ data_fim }}">
            </div>

            <div class="mb-2 ms-2 mt-3">
                <button type="submit" class="btn btn-outline-primary me-2" name="buscar_funcionario_pagamento">Buscar</button>
                <a href="{% url 'dashboard_resumo' %}" class="btn btn-outline-secondary me-2">Limpar</a>
            </div>

        </form>
    </div>

    <!-- Linha 1 dos cards -->
    <div class="d-flex justify-content-around flex-wrap mt-3">
        {% include 'financeiro/cards/cards_resumo_1.html' %}
    </div>

    <!-- Linha divisória -->
    <hr class="my-3" style="border-color: rgb(6, 160, 96); border-width: 3px;">

    <!-- Cards e Tabela de Resumo lado a lado -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-start mt-3">
                <!-- Cards de resumo -->
                {% include 'financeiro/cards/cards_resumo_2.html' %}
            </div>
            <div class="col-md-6 d-flex flex-column align-items-start mt-3">
                <!-- Tabela de resumo -->
                {% include 'financeiro/table/tabela_resumo.html' %}
            </div>
        </div>
    </div>
{% endblock content %}