{% extends 'global/base.html' %}

{% block page_title %}
    Dashboard Funcionários
{% endblock page_title %}

{% block content %}
    <h5 class="mb-4 mt-3" style="color: green;">Dashboard Funcionários</h5>

    <div class="container">
        <form action="" method="GET" class="d-flex align-items-center">

            <div class="mb-2 me-2">
                <label for="data_inicio" class="form-label">Data Início:</label>
                <input type="date" class="form-control" id="data_inicio" name="data_inicio" value="{{ request.GET.data_inicio }}">
            </div>

            <div class="mb-2 ms-2 me-2">
                <label for="data_fim" class="form-label">Data Fim:</label>
                <input type="date" class="form-control" id="data_fim" name="data_fim" value="{{ request.GET.data_inicio }}">
            </div>

            <div class="form-floating mb-2 ms-2 me-2 mt-2">
                <select class="form-select" id="floatingSelect" name="nome_funcionario" aria-label="Floating label select example">
                    <option value="">Selecione todos funcionário</option>
                    {% for funcionario in funcionarios %}
                        <option value="{{ funcionario.id }}" {% if funcionario.id|stringformat:"s" == request.GET.nome_funcionario %} selected {% endif %}>
                            {{ funcionario.nome_funcionario }}
                        </option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Funcionáro</label>
            </div>
            
            <div class="form-floating mb-2 ms-2 me-2 mt-2">
                <select class="form-select" id="floatingSelect" name="tipo_pagamento" aria-label="Floating label select example">
                    <option value="">Selecione todos pagamentos</option>
                    {% for funcionario in funcionarios %}
                        <option value="{{ funcionario.id }}" {% if funcionario.id|stringformat:"s" == request.GET.nome_funcionario %} selected {% endif %}>
                            {{ funcionario.tipo_pagamento }}
                        </option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Tipo Pagamento</label>
            </div>

            <div class="mb-2 ms-2 mt-3">
                <button type="submit" class="btn btn-outline-primary me-2" name="buscar_funcionario_pagamento">Buscar</button>
                <a href="{% url 'dashboard_funcionarios' %}" class="btn btn-outline-secondary me-2">Limpar</a>
            </div>

        </form>
    </div>
    {% if funcionarios %}
        <table class="table table-sm table-striped table-hover mt-3"> <!-- table-bordered -->
            <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Data Pagamento</th>
                <th scope="col">Valor Pago</th>
                <th scope="col">Tipo Pagamento</th>
                <th scope="col">Forma Pagamento</th>
            </tr>
            </thead>
            <tbody>
                {% for funcionario in funcionarios %}
                    <tr>
                        <th scope="row" >{{ funcionario.pk }}</th>
                        <td>{{ funcionario.nome_funcionario }}</td>
                        <td>{{ funcionario.data_pagamento| date:"d/m/y"| default:"-" }}</td>
                        <td>{{ funcionario.valor_pago| default:"-" }}</td>
                        <td>{{ funcionario.tipo_pagamento| default:"-" }}</td>
                        <td>{{ funcionario.forma_pagamento| default:"-" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-end fw-bold">Total:</td>
                    <td class="bg-dark text-white fw-bold">R$ {{ total_pagamentos|floatformat:2 }}</td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <div class="container">
            <div class="alert alert-warning mt-3" role="alert">
                Não há lançamentos para o filtro selecionado.
            </div>
        </div>
    {% endif %}
{% endblock content %}