{% extends 'global/base.html' %}

{% block page_title %}
    Dashboard Compras
{% endblock page_title %}

{% block content %}
    <h5 class="mb-4 mt-3" style="color: green;">Dashboard Compras</h5>

    <!-- Filtro -->
    <div class="container">
        <form action="" method="GET" class="d-flex align-items-center">
            
            <div class="mb-2 me-2">
                <small for="data_inicio" class="form-text">Data Início:</small>
                <input type="date" class="form-control" id="data_inicio" name="data_inicio" value="{{ data_inicio }}">
            </div>

            <div class="mb-2 ms-2 me-2">
                <small for="data_fim" class="form-text">Data Fim:</small>
                <input type="date" class="form-control" id="data_fim" name="data_fim" value="{{ data_fim }}">
            </div>

            <div class="form-floating mb-2 me-2">
                <select class="form-select" id="floatingSelect" name="fornecedor" aria-label="Floating label select example">
                    <option value="">Selecione um fornecedor</option>
                    {% for fornecedor in fornecedores %}
                        <option value="{{ fornecedor.fornecedor__id }}" 
                            {% if fornecedor.fornecedor__id|stringformat:"s" in fornecedores_selecionados %} selected {% endif %}>
                            {{ fornecedor.fornecedor__nome_empresa }}
                        </option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Fornecedor</label>
            </div>

            <div class="form-floating mb-2 me-2">
                <select class="form-select" id="floatingSelect" name="classificacao" aria-label="Floating label select example">
                    <option value="">Selecione uma classificação</option>
                    {% for item in classificacao %}
                        <option value="{{ item.classificacao }}" 
                            {% if item.classificacao in classificacao_selecionado %} selected {% endif %}>
                            {{ item.classificacao }}
                        </option>
                    {% endfor %}
                </select>
                <label for="floatingSelect">Classificação</label>
            </div>

            <div class="mb-2 ms-2 me-2">
                <button type="submit" class="btn btn-outline-primary me-2" name="buscar_compras">Buscar</button>
                <a href="{% url 'dashboard_compras' %}" class="btn btn-outline-secondary me-2">Limpar</a>
            </div>

        </form>
    </div>

<strong>
    <em>Incluir coluna ação na tabela para contas vencidas</em>
</strong>

    {% if compras %}
        <div class="container-fluid">
            <div class="row">
                <!-- Coluna dos Cards -->
                {% include 'financeiro/cards/cards_compras.html' %}
                
                <!-- Coluna da Tabela -->
                <!-- Tabela de compras -->
                {% include 'financeiro/table/tabela_compras.html' %}
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="alert alert-warning mt-3" role="alert">
                Não há compras para o filtro selecionadocadastradas.
            </div>
        </div>
    {% endif %}
{% endblock content %}